body {
    background-color: lightblue;
    background-attachment: fixed;
    margin:0;
    font-family: monospace;
}

.contact {
    margin: 0;
}

.contact__column {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__first-column {
    flex-basis: 50%;
}

.contact__second-column {
    flex-basis: 37.5%;
}

.contact__title {
    color:cadetblue;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}

.contact__icons {
    height: 80px;
    display: flex;
}

.contact__svg {
    height: 100%;
    width: 100%;
}

.contact__about {
    margin: 35px 0;
}

.contact__form {
    margin: auto;
    background: lightblue(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

.contact__form-title {
    font-size: 20px;
    padding-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-width: 200px;
    max-width: 100%;
}

.contact__send {
    background: cadetblue;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    min-width: 200px;
    margin: 15px 0;
}

.contact__send:hover {
    background: #fff;
    color: cadetblue;
}

.contact__map{
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .contact__column {
        flex-wrap: wrap;
    }

    .contact__first-column {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    
    .contact__second-column {
        flex-basis: 90%;
        margin-bottom: 50px;
    }

    .contact__send {
        width: 100%;
    }
}
